/* 문서 전체의 글꼴은 맑은 고딕 각각 역백은 5px*/
* {
    font-family: "맑은 고딕";
    margin: 5px;
}

/* 안쪽 여백 20px, 배경 색상 지정 */
header , footer {
    padding: 20px;
    background-color: rgb(207, 221, 233);
    text-align: center;
}

/* 배경 색상 지정 , 가운데 정렬 , 글자 크기 10px, 진하게, 안쪽여백 20px */
nav {
    background-color: rgb(227, 235, 235);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

/* 하이퍼링크 태그 밑줄 없음, 가로길이 100px , 세로길이 30px , 안쪽여백 10px*/
nav a {
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 10px;
    display: inline;
}

a:link , a:visited {
    color: black;
}

a:hover , :active {
    color: white;
    background-color: rgb(88, 85, 85);
    text-decoration: underline;
}

/* 배경 색상 지정, 가로길이 48%, 높이 200px*/
section {
    background-color: rgb(164, 189, 211);
    border: solid 2px black;
    width: 48%;
    height: 200px;
    float: left;
    
}

/* footer에 클리어 설정 */
footer {
    clear: both;
}

/* 섹션의 제목 글자 색상과 여백 동일 */
h1 {
    color: white;
    padding: 5px;
}

#s1 h1 {
    background-color: rgb(248, 99, 99);
}

#s2 h1 {
    background-color: rgb(245, 181, 64);
}

#s3 h1 {
    background-color: rgb(231, 231, 95);
}

#s4 h1 {
    background-color: rgb(54, 202, 54);
}

#s5 h1 {
    background-color: rgb(68, 68, 240);
}

#s6 h1 {
    background-color: rgb(165, 44, 165);
}